.barChart {
  position: relative;
}

svg {
  overflow: visible;
}

.bar {
  fill: #4269d0;
}

.frame {
  stroke: #ccc;
}

.label {
  font-size: 12px;
}

.axisX .label {
  text-anchor: middle;
  transform: translate(0, 1em);
}

.axisY .label {
  text-anchor: end;
  transform: translate(-8px, 0.3em);
}
