.barChart {
  position: relative;
}

.bar {
  pointer-events: none;
}

.bar[data-id='apple'] {
  fill: #ff725c;
}

.bar[data-id='blueberry'] {
  fill: #4269d0;
}

.bar[data-id='grape'] {
  fill: #a463f2;
}

.bar[data-id='muscat'] {
  fill: #3ca951;
}

.bar[data-id='orange'] {
  fill: #efb118;
}

.pointer {
  fill: transparent;
}

.pointer:hover {
  fill: #eee;
}

.frame {
  pointer-events: none;
  stroke: #ccc;
}

.label {
  font-size: 12px;
}

.axisX .label {
  text-anchor: middle;
  transform: translate(0, 1em);
}

.axisY .label {
  text-anchor: end;
  transform: translate(-8px, 0.3em);
}
