.pieChart {
  position: relative;
}

.arc {
  stroke: #fff;
  stroke-width: 2px;
}

.arc[data-id='apple'] {
  fill: #ff725c;
}

.arc[data-id='blueberry'] {
  fill: #4269d0;
}

.arc[data-id='grape'] {
  fill: #a463f2;
}

.arc[data-id='muscat'] {
  fill: #3ca951;
}

.arc[data-id='orange'] {
  fill: #efb118;
}
