.arcChart {
  position: relative;
}

.backArc {
  fill: #eee;
}

.frontArc[data-status='good'] {
  fill: #3ca951;
}

.frontArc[data-status='bad'] {
  fill: #ff725c;
}

.label {
  align-items: baseline;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  gap: 2px;
  left: 50%;
  margin: 0;
  padding-bottom: 6px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.label .value {
  font-size: 40px;
  line-height: 1.2;
}
